[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/lightline"]
	path = bundle/lightline
	url = https://github.com/itchyny/lightline.vim.git
[submodule "bundle/devicons"]
	path = bundle/devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "bundle/nerdtree-syntax-highlight"]
	path = bundle/nerdtree-syntax-highlight
	url = https://github.com/tiagofumo/vim-nerdtree-syntax-highlight.git
